.admin__menu {
    .item-thirdparty {
        &> a:before {
            content: '\e60d' !important;
            font-size: 1.9rem;
            padding-top: 0.3rem;
        }

        .submenu {
            a:before {
                content: '';
            }
        }
    }
}
